<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgm.publicdata.repository.BoardRepository">

    <select id="findByTitle" resultType="Board" parameterType="String">
        select * from board where title = #{title}
    </select>
</mapper>